body {
  margin: 5%;
}

#container{
  width: 500px;
  height: 500px;
  position: relative;
  outline: 1px solid black;
  float: right;
}

.grass{
  height: 50px;
  width: 50px;
  outline: 1px solid rgba(0, 0, 0, 0.35);
  position: relative;
  float: left;
  background-color: #3FA34D;
}
.dirt{
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  background-color: #3FA34D;
}

#character {
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url("assets/pink-bird.png");
    left: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: inherit;
}

.emoji {
  font-size: 30px;
  text-align: center;
}

#runInstructions {
  margin: 1.5% 0 1.5% 0;
}

#addInstructions{
  margin: 1.5% 0 1.5% 0;
}

.form-control{
  width: 30%;
}

#entered-text {
  background-color: #F1FAEE;
}

#page-title {
  font-family: helvetica;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-top: -20px;
  color: #3D405B;
}

#points-score {
  position: absolute;
  font-size: 30px;
  margin-top: 10px;
}
