#container{
  width: 500px;
  height: 500px;
  position: relative;
  outline: 1px solid black;
}
.grass{
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  background-color: green;
}
.dirt{
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  background-color: tan;
}

#character {
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url("assets/pink-bird.png");
    left: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: inherit;
}

.emoji {
  font-size: 30px;
}
