#container{
  width: 500px;
  height: 500px;
  position: relative;
  outline: 1px solid black;
}
.grass{
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  background-color: green;
}
.dirt{
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  background-color: tan;
}

#character {
  position: absolute;
  height: 50px;
  width: 50px;
  outline: 1px solid black;
  background-color: red;
  z-index: 1;
  left: 0;
}

.emoji {
  font-size: 30px;
}
